*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(220, 7%, 8%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.card {
    width: 30%;
    max-width: 20rem;
    height: 50%;
    max-height: 30rem;
    border-radius: 22px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(23,30,40);
    background: linear-gradient(0deg, hsl(215, 27%, 12%) 0%, hsl(215, 22%, 15%) 50%);
    transition: 2s all;
}

.star-container {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background-color: hsl(210, 19%, 18%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.subtext {
    color: hsl(217, 12%, 63%);
    font-size: 12.5px;
    margin: -5px 0;
}

.options-container {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    border: none;
}

.options {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
  }

  .options + label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: hsl(216, 12%, 54%);
    background-color: hsl(210, 19%, 18%);
    transition: 0.8s all;
  }

.options + label:is(:hover, :focus-visible) {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    transition: 0.8s all;

}

.options:focus + label {
    background-color:hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
    transition: .8s all;

}


.submit {
    background-color: hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
    padding: 11px;
    border: none;
    border-radius: 20px;
    width: 100%;
    align-self: center;
    margin-top: 10px;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 5px;
}

.rating-card {
    position: absolute;
    opacity: 1;
    transition: 1s ease-out;
    z-index: 1;
}

.thankyou-card {
    opacity: 0;
    transition: 2s ease-in-out;
}

.thankyou-image {
    height: 100px;
    width: 140px;
    margin: 20px 0 10px -10px;
    align-self: center;
}

.star-rating-container {
    background-color: hsl(210, 19%, 18%);
    color: hsl(25, 97%, 53%);
    padding: 6px 15px;
    border: none;
    border-radius: 20px;
    align-self: center;
    margin-top: 10px;
    font-family: 'Overpass', sans-serif;
    font-size: 13px;
}

.thankyou-heading {
    color: hsl(0, 0%, 100%);
    margin-top: 25px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.thankyou-subtext {
    color: hsl(217, 12%, 63%);
    font-size: 12.5px;
    margin-top: -15px;
    text-align: center;
}

.submit:is(:hover) {
    background-color: hsl(0, 0%, 100%);
    color:hsl(25, 97%, 53%);
    transition: .8s all;

}

.hidden {
    display: none;
}

.visually-hidden {
    color: transparent;
    padding: 0;
    margin: 0;
}

.attribution { font-size: 11px; text-align: center; color:hsl(0, 0%, 100%) }
.attribution a { color: hsl(228, 45%, 44%); }


