*{
    box-sizing: border-box;
    /* background-color: #252d37; */
    /* background-color: #121417; */
}

body {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.card {
    width:330px;
    height: 330px;
    border-radius: 16px;
    background-color: hsl(213, 20%, 18%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: rgb(18,20,23);
    background: linear-gradient(0deg, rgba(18,20,23,1) 0%, rgba(37,45,55,1) 55%); */
}

.star-container {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.subtext {
    color: hsl(217, 12%, 63%);
    font-size: 13px;
    margin-top: -5px;
}

.options-container {
    display: flex;
    justify-content: space-between;
}

.options {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: hsl(216, 12%, 54%);
    background-color:  hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.options-selected{
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
}

.submit {
    background-color: hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
    padding: 11px;
    border: none;
    border-radius: 20px;
    width: 100%;
    align-self: center;
    margin-top: 10px;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 5px;
}

.submit-hover{
    background-color: hsl(0, 0%, 100%);
    color:hsl(25, 97%, 53%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
